.about-container {
  padding: 3rem;
}
.about-title {
  margin-bottom: 2rem;
}

.about-text {
  text-align: start;
  font-size: 18px;
}
.item {
  margin-top: 3rem;
}
.item-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.item-image {
  width: 30rem;
  height: auto;
  object-fit: cover;
}
.item-inner-text {
  width: 50%;
  margin: 5rem;
  font-size: 18px;
  text-align: start;
}
.item__img {
  width: 60%;
}
.item-image {
  width: 100%;
  object-fit: cover;
}
/* .inner-text {
  font-size: 16px;
} */

@media (max-width: 900px) {
  .item-inner-text {
    width: 100%;
    margin: 2rem;
  }
  .item-image {
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
  .item-inner {
    flex-direction: column;
  }
}
