
.about-container{
    padding:  3rem;
}
.about-title{
    margin-bottom: 2rem;
}

.about-text{
    text-align: left;

}
.item {
  margin-top: 3rem;
}
.item-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.item-image {
  width: 30rem;
  height: auto;
  object-fit: cover;
}
.item-inner-text {
  width: 50%;
  text-align: center;
  margin: 5rem;
}
.item__img {
  width: 60%;
}
.item-image {
  width: 100%;
  object-fit: cover;
}


@media (max-width: 900px) {
  /* .item__img{
        width: 50%;
    } */
  .item-inner-text {
    width: 50%;
  }
  .item-image {
    width: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 899px)  {
 
  .item{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .item-inner-text {
    /* width: 50%; */
    margin: 1rem;
  }
  .item-image {
    width: 100%;
    object-fit: cover;
  }
}