* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.containerCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4rem;
  padding-top: 3rem;
}
.card {
  width: 20rem;
  margin-bottom: 4rem;
}
.card-img-top {
  height: 12rem;
}
.card-text {
  height: 15rem;
  color: #fff;
}
.card-title {
  height: 5rem;
  margin-top: 2rem;
}

.card-body {
  height: 18rem;
}
.allItems-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.allItems {
  background-color: var(--primary-color);
  color: var(--color-chipollino);
}
.card-text {
  text-align: center;
}
.card-title {
  text-align: center;
}
#btnAdmin {
  background-color: rgba(255, 255, 0, 0);
}

.btn-card {
  background-color: var(--color-dark-green);
  color: var(--color-button);
}
.btn-card:hover {
  background-color: var(--color-chipollino);
  color: var(--color-dark-green);
}
.card-btn {
  margin-bottom: 20px;
  text-align: center;
}

.card,
.card-hidden {
  background-image: url('/image/board-1.jpg');
  background-size: 400px;
}
