.main_feedback_container {
  padding: 4rem 4rem 4rem 4rem;
  width: 100%;
}
#feedbackBtn {
  width: 30%;
}
#feedBackForm {
  display: none;
}

.sendFormBtn,
.closeFormBtn {
  color: var(--color-form-text);
  background-color: var(--color-chipollino);
}
.feedback_container {
  width: 90%;
}
.sendFormBtn:hover,
.closeFormBtn:hover {
  color: var(--color-form-text);
  background-color: #5a6241;
}

.sendFormBtn {
  margin-bottom: 3rem;
}
.closeFormBtn {
  margin: 0 0 3rem 1rem;
}

.card {
  width: 70%;
}
